# {{ ansible_managed }}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% if networks["uplink"].static %}
allow-hotplug {{ networks["uplink"].interface }}
iface {{ networks["uplink"].interface }} inet static
    address  {{ networks["uplink"].ip }}
    netmask  {{ networks["uplink"].mask }}
    gateway  {{ networks["uplink"].gateway }}
{% else %}
allow-hotplug {{ networks["uplink"].interface }}
iface {{ networks["uplink"].interface }} inet dhcp
{% endif %}

{% for net in networks %}
allow-hotplug {{ networks[net].interface }}
iface {{ networks[net].interface }} inet static
    address {{ networks[net].ip }}
    netmask {{ networks[net].mask }}

{% endfor %}